@charset "UTF-8";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
header{
    margin: auto;
    padding: 30px;
    text-align: center;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FAFAFA;
    margin: 4px;
    display: block;
}
section{
    display: block;
}
main{
    min-width: 300px;
    max-width: 1000px;
    padding: 6px;
    margin: auto;
}
.titulo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Cadastre-se{
    padding: 0 50px;
    font: 14px
}
.Entrar{
    padding: 0 50px;
    font: 14px;
}
.acesso{
    margin:22px 0;
    height:22px;
    text-align: center;
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}
.left{
    display: inline-block;
    height: 1px;
    width: 50%;
    background-color: black;
}
.right{
    display: inline-block;
    height: 1px;
    width: 50%;
    background-color: black;
}
label{
    white-space: nowrap;
    padding: 0 27px;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 110px;
}
.facebook{
    margin-right: 25px;  
}
.apple{
    margin-left: 25px;
}
.emailC{
    display: block;
    position: absolute;
    left: 19%;
    right: 0%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 60%;
}
.senhaC{
    position: absolute;
    left: 19%;
    right: 0%;
    height: 25px;
    margin-top: 40px;
    width: 60%;
}
.cpfC{
    position: absolute;
    left: 19%;
    right: 0%;
    height: 25px;
    margin-top: 70px;
    width: 60%;
}
.termosdeUso{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.botaoCadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botCadastrar{
    width: 400px; 
    height:40px;
}
.logarConta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.labelPrivaci{
    font-size: 14px; 
    padding: 5px;
}

@media (max-width:599px){
    .emailC{
        display: block;
        position: absolute;
        left: 8%;
        right: 0%;
        height: 25px;
        margin-top: 10px;
        margin-bottom: 15px;
        width: 83%;
    }
    .senhaC{
        position: absolute;
        left: 8%;
        right: 0%;
        height: 25px;
        margin-top: 40px;
        width: 83%;
    }
    .cpfC{
        position: absolute;
        left: 8%;
        right: 0%;
        height: 25px;
        margin-top: 70px;
        width: 83%;
    }
    .botCadastrar{
        width: 325px; 
        height:40px;
    }
    .termosdeUso{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        margin-left:16px;
    }
    .labelPrivaci{
        font-size: 14px; 
        padding: 5px;
    }
}